name: Pipeline Check

on:
    pull_request:
    push:
        branches:
            - main
            - master

jobs:
    pipeline-check:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: '18'
                  cache: 'npm'

            - name: Install dependencies
              run: npm install

            # - name: Run Prettier check
            #   run: npx prettier --check "**/*.{ts,json,md}"

            - name: Build code
              run: npm run build

            - name: Run tests
              run: npm test
